@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  cursor: pointer;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 16px;
}

a {
  text-decoration: none;
}

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer {
  background-color: #eeeeee;
}
