body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1;
  
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  
  width: 150px;
  flex: 0 1 200px;
  justify-content: flex-end;
  
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
}

.card-box {
  flex:1;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex: 1;
}